<div class="row wrapper">
    <div class="col-3 sidebar">
        <app-navbar></app-navbar>
    </div>
    <div class="col-9 main">
        <div class="container">
            <div class="row">
                <div class="card col-9 offset-1 scale-up-top" style="height: 525px; margin-left: 1em;">
                    <img class="card-img-top mt-2" [src]="icon" alt="ico" [ngStyle]="{'width':'6.5rem'}">
                    <div class="card-body">
                      <h2 class="card-title">LOGIN</h2>
                      <p class="card-text" style="font-size: 20px;">
                          Por favor, ingrese sus credenciales para iniciar sesión. 
                       </p>

                       <form [formGroup]="credentials" (ngSubmit)="login()">
                            <div class="row">
                                <div class="form-group col-6 mt-1">
                                    <i class="fa-solid fa-at"></i> 
                                    <br>
                                    <label for="email">Correo electrónico</label>
                                    <input formControlName="email" type="text" id="email" class="form-control" name="email" placeholder="email@email.com" [(ngModel)]="email">
                                    
                                    <small style="color: rgb(255, 0, 0); font-weight: bold;"
                                      *ngIf="this.credentials.get('email')?.invalid && this.credentials.get('email')?.touched">
                                      Correo electrónico es requerido</small>
                                </div>
                                <div class="form-group col-6 mt-1">
                                    <i class="fa-solid fa-lock"></i>
                                    <br>
                                    <label for="password">Contraseña</label>
                                    <input formControlName="password" type="password" id="password" class="form-control" name="password" [(ngModel)]="password">
                                    
                                    <small style="color: rgb(255, 0, 0); font-weight: bold;"
                                      *ngIf="this.credentials.get('password')?.invalid && this.credentials.get('password')?.touched">
                                      Clave es requerida</small>
                                    <br>
                                    </div>
                            </div>
                         
                            
                            <div class="row" style="margin-top: 2em; margin-bottom: 1.5em;">
                                <div class="col-12">
                                    <button class="button-33 mt-0" role="button" [disabled]="this.credentials.invalid"> 
                                        <i class="fa-solid fa-key"></i>
                                        INICIAR SESIÓN
                                    </button>
                                </div>  

                                <!-- ACCESOS -->
                                <div class="row mt-3" *ngIf="!this.loading">

                                    <div class="col-2">
                                        <img class='btn-av' [src]="usersAcceso[0].imgPerfil" alt="ico" [ngStyle]="{'width':'3rem', 'height':'3.5rem', 'margin-left':'1em', 'border-radius':'50%'}" (click)="onClickSeleccionar(usersAcceso[0], 1)" [ngClass]="this.seleccionado == 1 ? 'clicked' : ''">
                                    </div>

                                    <div class="col-2">
                                        <img class='btn-av' [src]="usersAcceso[1].imgPerfil" alt="ico" [ngStyle]="{'width':'3rem', 'height':'3.5rem', 'margin-left':'1em', 'border-radius':'50%'}" (click)="onClickSeleccionar(usersAcceso[1], 2)" [ngClass]="this.seleccionado == 2 ? 'clicked' : ''">
                                    </div>

                                    <div class="col-2">
                                        <img class='btn-av'[src]="usersAcceso[2].imgPerfil" alt="ico" [ngStyle]="{'width':'3rem', 'height':'3.5rem', 'margin-left':'1em', 'border-radius':'50%'}" (click)="onClickSeleccionar(usersAcceso[2], 3)" [ngClass]="this.seleccionado == 3 ? 'clicked' : ''">
                                    </div>

                                    <div class="col-2">
                                        <img class='btn-av' [src]="usersAcceso[3].imgPerfil" alt="ico" [ngStyle]="{'width':'3rem', 'height':'3.5rem', 'margin-left':'1em', 'border-radius':'50%'}" (click)="onClickSeleccionar(usersAcceso[3], 4)" [ngClass]="this.seleccionado == 4 ? 'clicked' : ''">
                                    </div>

                                    <div class="col-2">
                                        <img class='btn-av' [src]="usersAcceso[4].imgPerfil" alt="ico" [ngStyle]="{'width':'3rem', 'height':'3.5rem', 'margin-left':'1em', 'border-radius':'50%'}" (click)="onClickSeleccionar(usersAcceso[4], 5)" [ngClass]="this.seleccionado == 5 ? 'clicked' : ''">
                                    </div>

                                    <div class="col-2">
                                        <img class='btn-av' [src]="usersAcceso[5].imgPerfil" alt="ico" [ngStyle]="{'width':'3rem', 'height':'3.5rem', 'margin-left':'1em', 'border-radius':'50%'}" (click)="onClickSeleccionar(usersAcceso[5], 6)" [ngClass]="this.seleccionado == 6 ? 'clicked' : ''">
                                    </div>


                                </div>
                            </div>
                        </form>

                        <span class="loader mt-1" *ngIf="this.loading"></span>
                    </div>

                </div>
        </div>
    </div>
</div>


