
<div class="row">
    <div class="col-3">
        <app-navbar></app-navbar>
    </div>
    <div class="col-9">
        <div class="container">
            <div class="row">
                <div class="card col-9 offset-1 scale-up-top" style="height: auto; margin-left: 1em;">
                    <div class="col-12" *ngIf="this.loading"> 
                        <span class="loader mt-3"></span>
                    </div>

                    <div class="row" *ngIf="!this.loading">
                        <div class="col-1">
                            <img class="card-img-top mt-1" [src]="this.user.imgPerfil" alt="ico" [ngStyle]="{'width':'3rem', 'float':'left', 'border-radius':'50%'}">
                        </div>
                        <div class="col-10">
                            <h2 class="card-title">{{this.user.lastName}}, {{this.user.name}}</h2>
                        </div>
                        <div class="col-1">
                            <img *ngIf="this.user.perfil == 'paciente'" class="card-img-top mt-1" [src]="this.user.imgSecundaria" alt="ico" [ngStyle]="{'width':'3rem', 'float':'right', 'border-radius':'50%'}">
                        </div>
                    </div>

                    <div class="card-body" *ngIf="!this.loading">


                      <div *ngIf="this.view == 'mi-perfil'"> 
                        <p class="card-text" style="font-size: 20px; text-transform: upperCase">
                            PERFIL: <strong>{{this.user.perfil}}</strong> 
                          </p>
                          <p *ngIf="this.user.perfil=='especialista'" class="card-text">
                            <span >Especialidad: </span> 
                            <span *ngFor="let esp of this.user.especialidad; let i = index">
                                <strong *ngIf="i != this.user.especialidad.length-1">{{esp}}, </strong> 
                                <strong *ngIf="i == this.user.especialidad.length-1">{{esp}}.</strong> 
                            </span>
                          </p>
                          <p class="card-text">
                              DNI: {{this.user.dni}}
                          </p>
                          <p class="card-text">
                              Edad: {{this.user.edad}} años
                          </p>
                          <p class="card-text">
                              Fecha de Registro: {{this.user.createdAt.toMillis() | date:'short' }}
                          </p>

                          <div *ngIf="this.user.perfil == 'paciente'">
                            <button class="button-33" role="button"                            
                            (click)="cargarFecha()"
                            data-bs-toggle="modal" data-bs-target="#historialClinicoModal">
                                <i class="fa-solid fa-clipboard"></i>
                                HISTORIAL CLINICO
                            </button>
                        </div>
                      </div>
                      
                      <div *ngIf="this.view == 'horarios'"> 
                          <p class="card-text" style="text-transform: upperCase; font-size: 16.5px">
                              Seleccione horarios
                          </p>

                          <app-mis-horarios></app-mis-horarios>

                      </div>



                        <div class="row" style="margin-top: 4em;" *ngIf="!this.loading">
                            
                            <div class="col-12" *ngIf="this.user.perfil == 'paciente' || this.user.perfil == 'administrador'">
                                <button class="button-33" role="button" (click)="volver()">
                                    <i class="fa-solid fa-circle-left"></i>
                                    VOLVER
                                </button>
                            </div>

                            <div class="col-6" *ngIf="this.user.perfil == 'especialista'">
                                <button class="button-33" role="button" (click)="volver()">
                                    <i class="fa-solid fa-circle-left"></i>
                                    VOLVER
                                </button>
                            </div>

                             
                            <div class="col-6" *ngIf="this.user.perfil == 'especialista'">
                                <button class="button-33" role="button" (click)="cambiarVista()">
                                    <i class="fa-solid fa-clock"></i>
                                    {{this.btn}}
                                </button>
                            </div>
                            




                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- ################################## MODAL HISTORIAL CLINICO ################################## -->
<div class="modal fade modal-xl" id="historialClinicoModal" *ngIf="this.user != null && this.user.perfil == 'paciente'" tabindex="-1" aria-labelledby="historialClinicoModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">

            <div *ngIf="this.historialClinicoPaciente.length > 0">
                
                <button type="button" [appButton]="'pdf'" data-bs-dismiss="modal"     
                (click)="crearPDF()" style="margin-bottom: 1em;">
                <i class="fa-solid fa-file-pdf"></i>
                DESCARGAR PDF
                </button>

                <div class="mb-1">
                    <span style="font-size: 20px; float:left; font-weight: 700;">Filtrar por: &nbsp;</span>
                    <button class="button-7 mb-1"(click)="onClickFiltro('especialista')"
                    [ngClass]="this.mostrarFiltro == 'especialista' ? 'clicked-btn7' : ''">
                    Especialista
                </button>
                <br>

                <div class="container mb-2">
                    <div class="row" *ngIf="this.mostrarFiltro == 'especialista'" style="float:left">
                      <div class="col-3" *ngFor="let e of this.arrayEspecialistas" style="margin-right: 1em;margin-left: 1.5em; margin-bottom: 1em;">
                        <button class="button-7" 
                        [ngClass]="this.especialistaSeleccionado === e.uid ? 'clicked-btn7' : ''"
                        (click)="onClickFiltroEspecialista(e.uid)">
                          {{e.nombre}}
                        </button>
                      </div>
                    </div>

                </div>
                <br>
            </div>
        </div>
        
        <div *ngIf="this.historialClinicoPaciente.length > 0"> 
            <br>
            <div id="pdf">
                 
                <div style="text-align: center;">
                    <h4 class="modal-title" style="color:rgb(47, 72, 214); font-size: 48px;">HISTORIAL CLINICO</h4>
                </div>

                <div style="margin-left: 2em;">
    
                    <div style="text-align: center;">
                        <span style="font-weight: 700; font-size: 20px;">{{this.user.lastName}}, {{this.user.name}} </span>  
        
                        <p> {{fechaActual | longDateEsp}}</p>
        
                        <img [src]='logo' alt="ico" style="width: 120px; border-radius: 50%;">
        
                        <p style="font-size: 22px;">Clinica OnLine: <strong>DACAL HEALTH</strong></p>
                    </div>
    
                    <hr>
                    <div *ngFor="let h of arrayTurnosFiltro">
                        <p style="margin-top: 1em;">Fecha: <strong>{{h.dia}} {{h.horario}}</strong></p>
                        <p>Especialidad: <strong>{{h.especialidad}}</strong></p>
                        <p>Especialista: <strong>{{h.nombreEspecialista}}</strong></p>
                        <p>Reseña: <strong>{{h.resenia}}</strong></p>
                        <p>Altura: <strong>{{h.altura}} mts</strong></p>
                        <p>Peso: <strong>{{h.peso}} kgs</strong></p>
                        <p>Temperatura: <strong>{{h.temperatura}} C°</strong></p>
                        <p>Presion: <strong>{{h.presion}} </strong></p>

                        <div *ngIf="h.datos != null && h.datos != undefined">
                            <p>Datos adicionales:</p>
                            <p *ngFor="let d of h.datos">
                              <span *ngIf="d.clave != undefined && d.valor != undefined && d.clave != '' && d.valor != ''"> 
                                {{d.clave}}: <strong>{{d.valor}}</strong>
                              </span>
                            </p>
        
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="this.historialClinicoPaciente.length == 0">
        
            <div style="margin-left: 1em;">
    
                <div style="text-align: center;">
                    <span style="font-weight: 700; font-size: 20px;">{{this.user.lastName}}, {{this.user.name}} </span>  
    
                    <p> {{fechaActual}}</p>
    
                    <img [src]='logo' alt="ico" style="width: 120px; border-radius: 50%;">
    
                    <p style="font-size: 22px;">Clinica OnLine: <strong>DACAL HEALTH</strong></p>

                    <p>No tiene historia clínica.</p>
                </div>
        </div> 
        

  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            OK
          </button>
        </div>
  
      </div>
    </div>
  </div>
