
<div class="row wrapper">
    <div class="col-3 sidebar">
        <app-navbar [selectedOpt]="'mis-turnos'"></app-navbar>
    </div>
    <div class="col-9" style="margin-left: 16em;">
        <div class="container">
            <div class="row">
                <div class="card col-9 scale-up-top mb-2" style="height: auto; width:100%; margin-left: 1em;">
                   
                    <div class="card-body">
                        <h2 class="card-title">Mis Turnos</h2>
                        <div> 
                    </div>
          
                            <span class="loader mt-1" *ngIf="this.loading"></span>
          
                            <div class="mb-2">
                              <span style="font-size: 20px; float:left; font-weight: 700;">Filtrar por:</span>

                              <div class="row">
                                <div class="col-2">
                                  <button class="button-7" (click)="onClickFiltro('especialidad')"
                                  [ngClass]="this.mostrarFiltro == 'especialidad' ? 'clicked-btn7' : ''">
                                    Especialidad
                                  </button>
                                </div>
                                <div class="col-2" *ngIf="this.esPaciente">
                                  <button class="button-7"(click)="onClickFiltro('especialista')"
                                  [ngClass]="this.mostrarFiltro == 'especialista' ? 'clicked-btn7' : ''">
                                    Especialista
                                  </button>
                                </div>
                                <div class="col-2" *ngIf="this.esEspecialista">
                                  <button class="button-7" (click)="onClickFiltro('paciente')"
                                  [ngClass]="this.mostrarFiltro == 'paciente' ? 'clicked-btn7' : ''">
                                    Paciente
                                  </button>
                                </div>
                              </div>
                            </div>

                            <div class="container mb-2">
                              <div class="row" *ngIf="this.mostrarFiltro == 'especialidad'" style="float:left">
                                <div class="col-3" *ngFor="let e of this.arrayEspecialidades" style="margin-right: 1.5em; margin-left: 1.5em; margin-bottom: 1em;">
                                  <button class="button-7" 
                                  [ngClass]="this.especialidadSeleccionada === e ? 'clicked-btn7' : ''"
                                  (click)="onClickFiltroEspecialidad(e)">
                                    {{e}}
                                  </button>
                                </div>
                              </div>


                              <div *ngIf="this.mostrarFiltro == 'especialista'" style="float:left; margin-bottom: 1em;">
                                
                                <div class="nav-div" >
                                  <div *ngFor="let p of this.arrayEspecialistas">
                                      <ul class="list-group">
                                        <li class="list-group-item" style="margin-bottom: 0.5em;">
                                          {{p.nombre}}
                                          <button class="button-7" style="float:right; margin-left: 1em;"
                                          [ngClass]="this.especialistaSeleccionado == p.uid ? 'clicked-btn7' : ''"
                                          (click)="onClickFiltroEspecialista(p.uid)">
                                            Seleccionar
                                          </button>
                                        </li>
                                      </ul>
                                    </div>

                                </div>
                                
                              </div>
  
                              <div *ngIf="this.mostrarFiltro == 'paciente'" style="float:left; margin-bottom: 1em;">
                                
                                <div class="nav-div" >
                                  <div *ngFor="let p of this.arrayPacientes">
                                      <ul class="list-group">
                                        <li class="list-group-item" style="margin-bottom: 0.5em;">
                                          {{p.nombre}}
                                          <button class="button-7" style="float:right; margin-left: 1em;"
                                          [ngClass]="this.pacienteSeleccionado == p.uid ? 'clicked-btn7' : ''"
                                          (click)="onClickFiltroPaciente(p.uid)">
                                            Seleccionar
                                          </button>
                                        </li>
                                      </ul>
                                    </div>

                                </div>
                                
                              </div>

                            </div>
                            



                              <table class="table" *ngIf="!this.loading">
                                <thead>
                                  <tr>
                                    <th scope="col">FECHA</th>
                                    <th scope="col">HORA</th>
                                    <th scope="col">ESPECIALIDAD</th>
                                    <th scope="col" *ngIf="this.esPaciente">ESPECIALISTA</th>
                                    <th scope="col" *ngIf="this.esEspecialista">PACIENTE</th>
                                    <th scope="col">ESTADO</th>
                                    <th scope="col">ACCIÓN</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr class="tr-tabla" *ngFor="let turno of arrayTurnosFiltro">
                                    <td>
                                      <span>{{turno.dia}}</span>
                                    </td>
                                    <td>
                                      <span>{{turno.horario}}</span>
                                    </td>
                                    <td>
                                      <span>{{turno.especialidad}}</span>
                                    </td>
                                    <td *ngIf="this.esPaciente">
                                      <span>{{turno.nombreEspecialista}}</span>
                                    </td>
                                    <td *ngIf="this.esEspecialista">
                                      <span>{{turno.nombrePaciente}}</span>
                                    </td>
                                    <td>
                                        <span style="text-transform: uppercase; font-weight: 600;">
                                          {{turno.estado}}
                                        </span>
                                    </td>
                                    <td>
                                      <div>
                                        <button class="button-7"
                                        *ngIf="this.esEspecialista && turno.estado == 'solicitado'"
                                        (click)="onClickAccion('aceptado', turno)">
                                          Aceptar
                                        </button>
                                        <button class="button-7" style="margin-left: 0.5em;"
                                        *ngIf="turno.estado == 'aceptado' || (this.esPaciente && turno.estado == 'solicitado')"
                                        (click)="onClickAccion('cancelado', turno)"
                                        data-bs-toggle="modal" data-bs-target="#cancelModal">
                                          Cancelar
                                        </button>
                                        <button class="button-7" style="margin-left: 0.5em;"
                                        *ngIf="this.esEspecialista && turno.estado != 'aceptado' && turno.estado != 'cancelado' && turno.estado != 'realizado' && turno.estado != 'rechazado' && turno.estado != 'finalizado'"
                                        data-bs-toggle="modal" data-bs-target="#rejectModal"
                                        (click)="onClickAccion('rechazado', turno)">
                                          Rechazar
                                        </button>
                                        <button class="button-7" style="margin-left: 0.5em;"
                                        *ngIf="this.esEspecialista && turno.estado == 'aceptado'"
                                        data-bs-toggle="modal" data-bs-target="#appointmentEndModal"
                                        (click)="onClickAccion('finalizado', turno)">
                                          Finalizar
                                        </button>
                                        <button class="button-7" style="margin-left: 0.5em;"
                                        *ngIf="turno.estado == 'finalizado' &&
                                        turno.resenia != '' && turno.resenia != undefined"
                                        (click)="verResenia(turno.resenia)">
                                          Reseña
                                        </button>
                                        <button class="button-7" style="margin-left: 0.5em;"
                                        *ngIf="this.esPaciente && turno.estado == 'finalizado' && turno.resenia != '' && turno.resenia != undefined && (turno.encuesta == '' || turno.encuesta == undefined)" 
                                        data-bs-toggle="modal" data-bs-target="#encuestaModal"
                                        (click)="this.uidTurnoSeleccionado = turno.uid">
                                          Encuesta
                                        </button>
                                        <button class="button-7" style="margin-left: 0.5em;"
                                        *ngIf="this.esPaciente && turno.estado == 'finalizado' && (turno.calificacion == null || turno.calificacion == undefined)"
                                        data-bs-toggle="modal" data-bs-target="#scoreModal"
                                        (click)="this.uidTurnoSeleccionado = turno.uid">
                                          Calificar
                                        </button>
                                      </div>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
          
                            </div>
                          </div>
                      </div>
                       
        </div>
    </div>
</div>

<!-- ################################## MODAL CANCELAR ################################## -->
<div class="modal" id="cancelModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="color:red">Cancelacion de Turno</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Ingrese el motivo de la cancelación.
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Comentario</span>
        </div>
        <textarea class="form-control" [(ngModel)]="comentarioCancelacion"></textarea>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"    
        (click)="dejarComentarioCancelacionTurno()">
          Confirmar
        </button>
      </div>

    </div>
  </div>
</div>

<!-- ################################## MODAL ENCUESTA ################################## -->
<div class="modal" id="encuestaModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="color:rgb(47, 72, 214)">Encuesta</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Deje un comentario:
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Comentario</span>
        </div>
        <textarea class="form-control" [(ngModel)]="comentarioEncuesta"></textarea>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"    
        (click)="dejarComentarioEncuestaTurno()">
          Confirmar
        </button>
      </div>

    </div>
  </div>
</div>

<!-- ################################## MODAL RECHAZAR ################################## -->
<div class="modal" id="cancelModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="color:red">Rechazo de Turno</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Ingrese el motivo del rechazo.
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Comentario</span>
        </div>
        <textarea class="form-control" [(ngModel)]="comentarioRechazo"></textarea>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"    
        (click)="dejarComentarioRechazoTurno()">
          Confirmar
        </button>
      </div>

    </div>
  </div>
</div>

<!-- ################################## MODAL FINALIZAR ################################## -->
<div class="modal" id="appointmentEndModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="color:rgb(47, 72, 214)">Reseña de Turno</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Ingrese una reseña o comentario de la consulta y el diagnóstico realizado.
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Diagnostico</span>
        </div>
        <textarea class="form-control" [(ngModel)]="reseniaTurno"></textarea>
        <div class="row">
          <div class="col-3"> 
            <label for="altura">Altura (metros)</label>
            <input type="number" id="altura" name="altura" [(ngModel)]="altura" step="0.01">
          </div>

          <div class="col-3">
            <label for="peso">Peso (kg)</label>
            <input type="number" id="peso" name="peso" [(ngModel)]="peso" step="0.01">
          </div>

          <div class="col-3">
            <label for="temperatura">Temperatura (C°)</label>
            <input type="number" id="temperatura" name="temperatura" [(ngModel)]="temperatura" step="0.01">
          </div>

          <div class="col-3">
            <label for="presion">Presion</label>
            <input type="number" id="presion" name="presion" [(ngModel)]="presion" step="0.01">
          </div>

        </div>
        


        </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"    
        (click)="finalizarTurno()">
          Confirmar
        </button>
      </div>

    </div>
  </div>
</div>

<!-- ################################## CALIFICAR FINALIZAR ################################## -->
<div class="modal" id="scoreModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="color:rgb(47, 72, 214)">Reseña de Turno</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Por favor, ingrese un comentario acerca de la atención que recibió por parte del especialista.
      </div>

      <div class="row">

      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Comentario</span>
        </div>
        <textarea class="form-control" [(ngModel)]="comentarioCalificacion"></textarea>
      </div>

        <div style="margin-top: 2em; margin-left: 1em; margin-right: 1em;">
          <div style="text-align: center;">
            <label for="calificacion" class="form-label">Calificación de la atención:</label>
            <p><strong>{{this.calificacion}}</strong></p>
          </div>
          <input type="range" class="form-range" min="1" max="10" [value]="this.calificacion" id="calificacion" (input)="valueChangedScore($event)">
        </div>


      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"    
        (click)="calificarAtencion()">
          Confirmar
        </button>
      </div>

    </div>
  </div>
</div>
