<div class="row">
    <div class="col-3">
        <app-navbar [selectedOpt]="'informes'"></app-navbar>
    </div>
    <div class="col-9">
        <div class="container">
            <div class="row">
                <div class="card col-10 offset-1 scale-up-top" style="height: auto; margin-left: 1em; margin-bottom: 2em;">
                    <div class="card-body">
                        <h2 class="card-title">Informes</h2>

                        <div class="row">
                            <div class="col-6">
                                <div class="card" style="width: 18rem; margin-left: 2em;">
                                    <img src="assets/img/bar.png" class="card-img-top mt-2" alt="turnospordia">
                                    <div class="card-body">
                                      <h5 class="card-title"><strong>Turnos por día</strong></h5>
                                      <a class="btn btn-primary"
                                      data-bs-toggle="modal" data-bs-target="#modalGraficoPorDia"
                                      (click)="mostrarChartTurnosPorDia()">
                                        VER
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card" style="width: 18rem;">
                                    <img src="assets/img/piechart.png" class="card-img-top mt-2" alt="graficotorta">
                                    <div class="card-body">
                                      <h5 class="card-title"><strong>Turnos por especialidad</strong></h5>
                                      <a class="btn btn-primary"
                                      data-bs-toggle="modal" data-bs-target="#modalGraficoPorEspecialidad"
                                      (click)="mostrarChartTurnosPorEspecialidad()">
                                        VER
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="card" style="width: 18rem; margin-left: 2em;">
                                    <img src="assets/img/medical-history.png" class="card-img-top mt-2" alt="turnosfinalizados">
                                    <div class="card-body">
                                      <h5 class="card-title"><strong>Turnos finalizados por médico</strong></h5>
                                      <a class="btn btn-primary"
                                      data-bs-toggle="modal" data-bs-target="#modalTurnosFinalizados"
                                      (click)="mostrarChartTurnosFinalizadosPorMedico()">
                                        VER
                                    </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card" style="width: 18rem;">
                                    <img src="assets/img/medical-team.png" class="card-img-top mt-2" alt="turnossolicitados">
                                    <div class="card-body">
                                      <h5 class="card-title"><strong>Turnos solicitados por médico</strong></h5>
                                      <a class="btn btn-primary"
                                      data-bs-toggle="modal" data-bs-target="#modalTurnosSolicitados"
                                      (click)="mostrarChartTurnosSolicitadosPorMedico()">
                                        VER
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-6 offset-3">
                                <div class="card" style="width: 18rem;">
                                    <img src="assets/img/log.png" class="card-img-top mt-2" alt="logs">
                                    <div class="card-body">
                                      <h5 class="card-title"><strong>Logs de ingreso</strong></h5>
                                      <a
                                      class="btn btn-primary"
                                      data-bs-toggle="modal" data-bs-target="#logsModal">
                                        VER
                                      </a>
                                    </div>
                                </div>
                            </div>                           
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ################################## MODAL GRAFICO POR DIA ################################## -->
<div class="modal" id="modalGraficoPorDia">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color:rgb(20, 4, 248)">Turnos por día</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div>
            <div class="ct-chart" id="chart_dias" style="height: 50vh"></div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            OK
          </button>
        </div>
  
      </div>
    </div>
</div>

<!-- ################################## MODAL GRAFICO POR ESPECIALIDAD ################################## -->
<div class="modal" id="modalGraficoPorEspecialidad">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color:rgb(20, 4, 248)">Turnos por especialidad</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <div>
            <div class="ct-chart" id="chart_especialidades" style="height: 50vh"></div>
          </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            OK
          </button>
        </div>
  
      </div>
    </div>
</div>

<!-- ################################## MODAL LOGS ################################## -->
<div class="modal" id="logsModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color:rgb(20, 4, 248)">Logs</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <button type="button" class="btn btn-info mb-2" data-bs-dismiss="modal"     
                (click)="crearExcelLogs()">
                <i class="fa-solid fa-table"></i>
                EXCEL
            </button>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">FECHA</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">PERFIL</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-tabla" *ngFor="let log of logs">
                <td>
                  {{ log.date.toMillis() | date:'short'}}
                </td>
                <td>{{ log.name }}</td>
                <td>{{ log.lastName }}</td>
                <td>{{ log.perfil }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            OK
          </button>
        </div>
  
      </div>
    </div>
</div>

<!-- ################################# MODAL GRAFICO TURNOS FINALIZADOS ################################## -->
<div class="modal" id="modalTurnosFinalizados">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color:rgb(20, 4, 248)">Turnos finalizados por médico</h4> 
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">

            <!-- 
            <button type="button" class="btn btn-info mb-2" data-bs-dismiss="modal"     
                (click)="crearPDF('pdf_finalizados')">
                <i class="fa-solid fa-file-pdf"></i>
                DESCARGAR PDF
            </button>
            -->

            <div id="pdf_finalizados">
                <br>
                <small>Turnos finalizados por médico: ultimos siete días.</small>
                <div>
                    <div class="ct-chart" id="chart_turnos_finalizados" style="height: 50vh"></div>
                </div>

            </div>
    </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            OK
          </button>
        </div>
  
      </div>
    </div>
</div>

<!-- ################################# MODAL GRAFICO TURNOS SOLICITADOS ################################## -->
<div class="modal" id="modalTurnosSolicitados">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color:rgb(20, 4, 248)">Turnos solicitados por médico</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div id="pdf_solicitados">
                <br>
                <small>Turnos solicitados por médico: ultimos siete días.</small>
                <div>
                  <div class="ct-chart" id="chart_turnos_solicitados" style="height: 50vh"></div>
                </div>
    
            </div>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
            OK
          </button>
        </div>
  
      </div>
    </div>
</div>