
    <div class="row">
        <div class="col-3">
            <app-navbar [selectedOpt]="'home'"></app-navbar>
        </div>
        <div class="col-9">
            <div class="container">
                <div class="row">
                    <div class="card col-9 offset-1 scale-up-top" style="height: 450px; margin-left: 1em;">
                        <img class="card-img-top mt-2" [src]="logo" alt="ico" [ngStyle]="{'width':'7.5rem'}" logo>
                        <div class="card-body">
                          <h2 class="card-title">Clinica OnLine</h2>
                          <p class="card-text" style="font-size: 20px;">
                              Te damos la bienvenida a la Clinica OnLine: <strong>Dacal Health</strong> 
                            </p>

                            <p class="card-text">
                                TP 2 Laboratorio IV UTN-FRA
                            </p>
                            <p class="card-text">
                                Por favor, inicie sesión para continuar.
                            </p>
                            <div class="row" style="margin-top: 2em;">
                                <div class="col-6">
                                    <button class="button-33" role="button" (click)="onClickRegister()">
                                        <i class="fa-solid fa-user-plus"></i>
                                        REGISTRO
                                    </button>
                                </div>
                                <div class="col-6">
                                    <button class="button-33" role="button" (click)="onClickLogin()">
                                        <i class="fa-solid fa-key"></i>
                                        LOGIN
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

