<div class="container">
    <span>Duracion del turno: </span>
    <br>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="30">
        <label class="form-check-label" for="inlineRadio1">30 minutos</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="60">
        <label class="form-check-label" for="inlineRadio2">60 minutos</label>
      </div>

 
    <div class="row mt-2">
        <div class="col-2">
            <button type="button" class="btn btn-info">Lunes</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-info">Martes</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-info">Miercoles</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-info">Jueves</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-info">Viernes</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-info">Sabado</button>
        </div>
    </div>
</div>


