
<div class="row">
    <div class="col-3">
        <app-navbar [selectedOpt]="'pacientes'"></app-navbar>
    </div>
    <div class="col-9">
      <div class="container">
        <div class="row">
          <div class="card col-9 offset-1 scale-up-top mb-2" style="height: auto; margin-left: 1em;">
            <div class="card-body">
              <h2 class="card-title">Pacientes</h2>
              <div> 

              </div>

                  <span class="loader mt-1" *ngIf="this.loading"></span>

                  <table class="table" *ngIf="!this.loading">
                    <thead>
                      <tr>
                        <th scope="col">DETALLE</th>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">APELLIDO</th>
                        <th scope="col">OBRA SOCIAL</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="tr-tabla" *ngFor="let p of pacientes">
                        <td>
                          <button
                            type="button"
                            color="light"
                            mat-fab
                            class="btn-fav"
                            title="Detalles"
                            (click)="mostrarPaciente(p)"
                            data-bs-toggle="modal"
                            data-bs-target="#modalHistorialPaciente">
                            <img class="img-btn" src="{{p.imgPerfil}}" alt="imagen"/>
  
                          </button>
                        <td>
                          <span>{{p.name}}</span>
                        </td>
                        <td>
                          <span>{{p.lastName}}</span>
                        </td>
                        <td>
                          <span>{{p.obraSocial}}</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                    

                  </div>
                </div>
            </div>
        </div>
      </div>
      

</div>


<!-- ################################## MODAL HISTORIAL CLINICO ################################## -->
<div class="modal fade modal-xl" id="modalHistorialPaciente" *ngIf="this.user != null && this.user.perfil == 'especialista'" tabindex="-1" aria-labelledby="modalHistorialPaciente"
data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="this.pacienteSeleccionado != null">

      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div style="text-align: center;">
              <h4 class="modal-title" style="color:rgb(47, 72, 214); font-size: 48px;">HISTORIAL CLINICO</h4>
          </div>
      </div>
      
      <div id="pdf">
          <div style="margin-left: 2em;">

              <div style="text-align: center;">
                  <span style="font-weight: 700; font-size: 20px;">{{this.pacienteSeleccionado.lastName}}, {{this.pacienteSeleccionado.name}} </span> 
              </div>

              <hr>
              <div *ngFor="let h of historialClinicoPacienteSeleccionado">
                  <p style="margin-top: 1em;">Fecha: <strong>{{h.dia}} {{h.horario}}</strong></p>
                  <p>Especialidad: <strong>{{h.especialidad}}</strong></p>
                  <p>Especialista: <strong>{{h.nombreEspecialista}}</strong></p>
                  <p>Altura: <strong>{{h.altura}} mts</strong></p>
                  <p>Peso: <strong>{{h.peso}} kgs</strong></p>
                  <p>Temperatura: <strong>{{h.temperatura}} C°</strong></p>
                  <p>Presion: <strong>{{h.presion}} </strong></p>

                  <div *ngIf="h.datos != null && h.datos != undefined">
                    <p>Datos adicionales:</p>
                    <p *ngFor="let d of h.datos">
                      <span *ngIf="d.clave != undefined && d.valor != undefined && d.clave != '' && d.valor != ''"> 
                        {{d.clave}}: <strong>{{d.valor}}</strong>
                      </span>
                    </p>

                  </div>

                  <button type="button" class="btn btn-info" data-dismiss="modal"
                  (click)="verResenia(h.resenia)">
                  <i class="fa-solid fa-clipboard"></i>
                    RESEÑA
                  </button>
                  <hr>
              </div>
          </div>
      </div>


      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          OK
        </button>
      </div>

    </div>
  </div>
</div>