
<div class="row wrapper">
    <div class="col-3 sidebar">
        <app-navbar [selectedOpt]="'solicitar-turno'"></app-navbar>
    </div>
    <div class="col-9" style="margin-left: 16em;">
        <div class="container">
            <div class="row">
                <div class="card col-9 scale-up-top mb-2" style="height: auto; width:100%; margin-left: 1em;">
                   
                    <div class="card-body">
                        <h2 class="card-title">Solicitar Turno</h2>
                        <div> 
                    </div>
          
                            <span class="loader mt-1" *ngIf="this.loading"></span>
                            
                            <p class="card-text mt-1" style="font-size: 12px;">
                                <strong>Especialidad</strong>
                             </p>
                              <div style="display: flex; margin-right: auto; margin-left:auto" class="mb-2">

                                <img *ngFor="let esp of especialidades" class="card-img-top mt-1 img-btn" [src]="esp.img" [alt]="esp.nombre"
                                [ngStyle]="{'width':'3.5rem', 'height':'3.5rem', 'border-radius':'50%'}" 
                                (click)="onClickSeleccionarEsp(esp.nombre)" [ngClass]="this.especialidadSeleccionada == esp.nombre ? 'clicked' : ''">

                            </div>

                            <div class="mt-1" *ngIf="this.especialidadSeleccionada != ''">
                                <hr>
                                <span><strong>{{this.especialidadSeleccionada}}</strong></span>

                                <div class="row"> 

                                    <div class="col-3" *ngFor="let esp of especialistasFiltro">
                                        <img class="card-img-top img-btn" [src]="esp.imgPerfil" [alt]="esp.name"
                                        *ngIf="esp.especialidad.includes(this.especialidadSeleccionada)"
                                        [ngStyle]="{'width':'3.5rem', 'height':'3.5rem', 'border-radius':'50%'}" 
                                        (click)="onClickSeleccionarDoc(esp.uid)" [ngClass]="this.especialistaSeleccionado == esp.uid ? 'clicked' : ''">
                                        <span *ngIf="esp.especialidad.includes(this.especialidadSeleccionada)">{{esp.name}} {{esp.lastName}}</span>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="this.especialistaSeleccionado != null">
                                <hr>
                                <span><strong>Fechas</strong></span>
                                <br>
                                <div class="row mt-1">
                                    <div class="col-2 mb-1" *ngFor="let dia of this.dias">
                                        <button class="button-7" role="button" (click)="onClickFecha(dia)"
                                        [ngClass]="this.fechaSeleccionada == dia ? 'clicked-btn7' : ''">
                                            {{dia | date:'mediumDate'}} 
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="this.especialistaSeleccionado != null && this.fechaSeleccionada != null">
                                <hr>
                                <span><strong>Horarios</strong></span>
                                <br>
                                <div class="row mt-1" >
                                    <div class="col-2 mb-1" *ngFor="let h of this.horariosDeInicioDeTurnos">
                                        <button class="button-7" role="button" (click)="onClickHorario(h)"
                                        [ngClass]="this.horarioSeleccionado == h ? 'clicked-btn7' : ''">
                                            {{h}}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="this.fechaSeleccionada != null && this.user.perfil =='paciente'">
                                <div class="row" style="margin-top: 2em; margin-bottom: 1.5em;">
                                    <div class="col-12">
                                        <button class="button-33 mt-0" role="button" [disabled]="this.horarioSeleccionado == null" (click)="confirmarTurno()"> 
                                            <i class="fa-solid fa-calendar"></i>
                                            CONFIRMAR
                                        </button>
                                    </div>  
                            </div>


                            
                              
          
                            </div>

                            <div *ngIf="this.fechaSeleccionada != null && this.user.perfil =='administrador'">
                                <div class="row" style="margin-top: 2em; margin-bottom: 1.5em;">
                                    <div class="col-12">
                                        <button class="button-33 mt-0" role="button" [disabled]="this.horarioSeleccionado == null" 
                                        data-bs-toggle="modal" data-bs-target="#selectPaciente"> 
                                            <i class="fa-solid fa-calendar"></i>
                                            SELECCIONAR PACIENTE
                                        </button>
                                    </div>  
                            </div>

                          </div>
                      </div>
                       
        </div>
    </div>
</div>

<!-- ################################## MODAL CANCELAR ################################## -->
<div class="modal" id="selectPaciente">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="color:rgb(47, 72, 214)">SELECCIONE PACIENTE</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <span style="font-size: 20px;">Pacientes:</span> 
        </div>
        <div class="nav-div" >
            <div *ngFor="let p of this.pacientes">
                <ul class="list-group">
                  <li class="list-group-item" style="margin-bottom: 0.5em;">
                    {{p.name}} {{p.lastName}} - Obra Social: {{p.obraSocial}} - DNI: {{p.dni}}
                    <button class="button-7" style="float:right; margin-left: 0.5em;"
                    (click)="onClickPaciente(p)">
                      Seleccionar
                    </button>
                  </li>
                </ul>
              </div>
          </div>
        
          <span *ngIf="this.pacienteSeleccionado != null" style="margin-top: 1em; margin-bottom: 1em; margin-left: 1em; font-size: 20px;">Paciente: <strong>{{this.pacienteSeleccionado.name}} {{this.pacienteSeleccionado.lastName}}</strong></span>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          [disabled]="this.pacienteSeleccionado== null"
          (click)="confirmarTurno()">
            Confirmar
          </button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cancelar
          </button>
        </div>
  
      </div>
    </div>
  </div>